body, a, .cat-title, .header-right > a, a:hover, .header .right-dropdown a, a.dark-link
{color: #222222;}
.breadcrumb-item a, .breadcrumb-item + .breadcrumb-item::before, .product-box .product-price .old, .colour-num
{color: #9d9d9d;}
.ul-list.view1 li i.icon
{background-color: #9d9d9d;}
a.link, a.dark-link:hover, .product-box .product-price, .nav-folderized .folderized-child.open h4, .link-primary, .breadcrumb-item.active, .expandible span.showmore, .tab-1 .nav-pills .nav-link.active, .tab-1 .nav-pills .show > .nav-link, .accordion.view2 .card-header .bx, .accordion.view2 .card-header h5, .tab-link-group .tab-link-title i, .tab-link-group .nav .nav-link.active, .tab-style-1 .nav-tabs .nav-link.active, .tab-style-1 .nav-tabs .nav-item.show .nav-link, .pageprogress a.active, .pageprogress a:hover, .tab-view-3 .nav-link.active, .faq-card .faq-act .btn.active i
{color: #e40046;}
a.link:hover{color:#be003a}
.header .search-box .btn:hover, .sec-title.view1 h2:after, .sec-title.view1 h2:before, .right-buttons:hover::before, .custome-cr.custome-r input:checked~label:after, .tab-view-3 .tab-action .nav .nav-link.active:after, .badge:not([data-badge])::after, .badge[data-badge]::after
{background-color: #e40046;}
.header .search-box .btn:hover, .custome-cr.custome-r label:after, .ProductMain .product-display .product-display-img .product-display-slider .owl-thumbs button.active, .thumb-child:hover, .thumb-child.active, .similar-products-owl .owl-item .product-box:hover, .address-box.active
{border-color: #e40046 !important;}

footer, footer h4, footer a, .single-footer-widget ul li a, .single-footer-widget a, .service-icon-f, .copy-right{color: #929292;-webkit-transition: all .2s ease-in-out;transition: all .2s ease-in-out;top: 0px;}
footer a:hover, .single-footer-widget ul li a:hover{color: #fff;-webkit-transition: all .2s ease-in-out;transition: all .2s ease-in-out;top: 0px;}

.custome-cr.custome-c input:checked~label:before {background-color: #e40046;border: 1px solid #e40046;}
.custome-cr.custome-r input:checked~label:before {background-color: #fff;border: 1px solid #e40046;}

/*-------------Themes option Style---------------------------------------*/
/* dark-theme Start =================================*/
.dark-theme .header, .pageprogress a{background-color: #1e1e1f;}
.dark-theme .sec-nav{background-color: #242425;background-image: none;border-top: none;}
.dark-theme .header-right .right-buttons > a, .dark-theme  .header-right > a, .horizontalMenu>.horizontalMenu-list>li>a, .pageprogress a, .pagelabel h3, .horizontalMenu>.horizontalMenu-list>li.bg-primary>a{color: #fff;}
.dark-theme .badge:not([data-badge])::after, .dark-theme .badge[data-badge]::after {box-shadow: 0 0 0 0.1rem #1e1e1f;}
.dark-theme .animated-arrow span, .dark-theme .animated-arrow span:before, .dark-theme .animated-arrow span:after{background-color: #fff;}
.dark-theme .sec-banner{background-image: linear-gradient(#efefef, #fff);}
.dark-theme .bg-light {background-color: #f4f4f5 !important;}
.dark-theme .inner-main {background: linear-gradient(180deg,#fff 0%, #f4f4f5 100%) left top no-repeat #f4f4f5;background-size: 100% 300px;}
@media (max-width: 991.98px){
.horizontalMenu>.horizontalMenu-list>li>a {color: #222222;}
}
/* dark-theme End =================================*/